script(src='/public/cdn/SweetAlert/sweetalert.js')
script(src='/public/cdn/FontAwesome/fontAwesome.js' crossorigin='anonymous')
script(src='/public/cdn/Bootstrap/popper.min.js'  crossorigin='anonymous')
script(src='/public/cdn/Bootstrap/bootstrap.min.js'  crossorigin='anonymous')
script(src='/public/cdn/Bootstrap/bootstrap.bundle.min.js'  crossorigin='anonymous')
script(src='/public/cdn/Notyf/notyf.min.js')
script(src='/public/js/loading.js')



